.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.form_wrapper {
    display: flex;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    width: 508px;
    padding: 55px 99px 55px 99px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.295);
}

.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.form_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.divider_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_form_container form{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.auth_input {
    width: 314px;
    height: 43px;
    box-sizing: border-box;
    padding: 12px 16px 12px;
    border-radius: 7px;
    border: 1px lightgrey solid;
    margin-bottom: 6px;
    color: #333333;
}

.auth_input:focus {
    box-shadow: none;
    border: 2px solid rgba(177, 255, 157, 0.589);
    outline: none;
}

.auth_button {
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding: 0px 21px 0px;
    border-radius: 7px;
    border: none;
    background-color: #00a82d;
    color: white;
    transition: filter 0.3s;
    font-size: 17px;
    cursor: pointer;
}

.auth_button:hover {
    filter: brightness(85%);
    transition: filter 0.3s
}

.auth_button:focus {
    outline: none;
}



.error_message{
    font-size: 11px;
    color: #cc5439;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.demo_button{
    width: 100%;
    height: 40px;
    border: solid lightgrey 1px;
    background-color: transparent;
    border-radius: 7px;
    color: #6a6a6a;
    font-size: 17px;
    cursor: pointer;
}

.demo_button:hover{
    background-color: whitesmoke;
}

.header_title {
    font-size: 50px;
    color: black;
    font-family: Geller serif;
    line-height: 0;
    font-weight: bold;
}

.header_tagline {
    font-size: 17px;
    color: #333333;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    color: #ababab;
}

.footer_tagline {
    font-size: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.footer_cta_wrapper {
    margin-top: 8px;
}

.footer_cta {
    font-size: 18px;
    color: #00a82d;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.divider_container {
    position: relative;
    margin-bottom: 18px;
    margin-top: 17px;
}

.divider_container:before, .divider_container:after {
    display: table;
    content: "";
}

.divider_text {
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    position: relative;
    color: #ababab;
    font-size: 14px;
    z-index: 1;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.divider_container .divider_text:before {
    margin-left: -52%;
    text-align: right;
}

.divider_container .divider_text:after {
    margin-left: 2%;
}

.divider_container .divider_text:before, .divider_container .divider_text:after {
    width: 50%;
    top: 51%;
    overflow: hidden;
    height: 1px;
    background-color: #d0d0d0;
    content: '\a0';
    position: absolute;
}

.divider_container:after {
    clear: both;
}

.divider_container:before, .divider_container:after {
    display: table;
    content: "";
}

.body {
    height: 100vh;
    width: 100vw;
    margin:0;
    padding:0;
    overflow: hidden;
    background-image: url("https://i.imgur.com/5yo53e8.jpg");
    background-repeat: repeat;
}

.divider_line {
    font-size: 75%;
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    list-style: none;
}

.login_form_error_container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
}

.auth_error_list {
    list-style: none;
    padding: 0;
    margin-top: 0;
}