.background {
    background-image: url("https://i.imgur.com/ad5xSVo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
    /* height: 100vh; */
    /* width: 100%; */
}

/* .background_image {
    background-image: url(https://i.imgur.com/xh9DeTB.jpg);
} */

.centered {
    /* position: fixed;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%); */
  }

.form_wrapper {
    display: flex;
    background-color: rgba(0, 0, 0, 0.664);
    /* margin-right: auto;
    margin-left: auto; */
    justify-content: center;
    align-items: center;
    /* width: 508px; */
    height: 100vh;
    /* width: 100%; */
    /* padding: 75px 99px 75px 99px; */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.295);
}

.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login_form_container form{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.auth_input {
    width: 400px;
    height: 75px;
    font-size: 30px;
    box-sizing: border-box;
    padding: 12px 16px 12px;
    border-radius: 7px;
    border: 1px lightgrey solid;
    margin-bottom: 6px;
    color: #333333;
}

.auth_input:focus {
    box-shadow: none;
    border: 2px solid rgba(177, 255, 157, 0.589);
    outline: none;
}

.auth_button {
    box-sizing: border-box;
    width: 100%;
    height: 75px;
    padding: 0px 21px 0px;
    border-radius: 7px;
    border: none;
    background-color: #e3e516;
    color: white;
    /* text-shadow: black 3px 3px 5px; */
    text-shadow: 8px 8px 10px black;
    transition: filter 0.3s;
    font-size: 40px;
    cursor: pointer;
}

.auth_button:hover {
    filter: brightness(90%);
    transition: filter 0.5s
}

.auth_button:focus {
    outline: none;
}

.error_message{
    font-size: 40px;
    color: rgb(248, 162, 63);
}

.demo_button{
    width: 100%;
    height: 75px;
    border: solid lightgrey 3px;
    background-color: transparent;
    border-radius: 7px;
    color: white;
    font-size: 40px;
    cursor: pointer;
    margin-top: 25px;
}

.demo_button:hover{
    border-color: #e3e516;
}

.login_form_error_container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
}

.auth_error_list {
    list-style: none;
    padding: 0;
    margin-top: 0;
}