.board_wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* margin: 0;
    padding: 0;
    width: 100%; */
}

.column_one, .column_three {
    width: 10%;
    height: 100vh;
    position: relative;
}

.column_three {
    background-image: url("https://i.imgur.com/yLriD5q.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.75;
}
.column_two {
    width: 80%;
}

.board_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.imgur.com/4gm5SEK.jpg");
    background-size: cover;
    height: 90vh;
    position: relative;
}

.column_one button {
    font-size: 40px;
    cursor: pointer;
}

.column_one button:hover {
    background-color: rgb(204, 204, 204);
}