.board_wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.column_one, .column_three {
    /* width: 10%; */
}

.column_two {
    /* width: 80%; */
}

.board_container {
    display: flex;
    justify-content: center;
    /* background-color: white; */
    background-image: url("https://i.imgur.com/iG0U4dX.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 90vh;
    position: relative;
}

