.board_wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
    
.column_one, .column_three {
    width: 15vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 35vw;
}

.horizontal_cars {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.row_one, .row_two {
    width: 100%;
    height: 100%;
}

.vertical_cars {
    display: flex;
    width: 75%;
    height: 100%;
}
    
.car {
    width: 100%;
    height: 100%;
    border: rgba(255, 255, 255, 0) solid 0.8vh;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.column_two {
    width: 45vw;
    height: 45vw;
}

.board_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.imgur.com/gGAFBWi.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 1.5vh;
}

.row {
    height: 16.667%;
    width: 100%;
    display: flex;
}

.board_container, .drop_zone {
    border: solid #a5a5a5 0.1vh;
}

.drop_zone {
    width: 16.667%;
    box-sizing: border-box;
}

.drop_zone:hover {
background-color: rgba(255, 255, 255, 0.335);
}

/* .is_being_dragged {
    opacity: 1;
    border: 2px dashed white;
} */

/* .is_active_drop_zone {
    background-color: blue;
} */

.trash {
    width: 100%;
    height: 50%;
    border: rgba(255, 255, 255, 0) solid 0.8vh;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.trash_closed {
    background-image: url(https://i.imgur.com/E1PyJBi.png);
}

.trash_open {
    background-image: url(https://i.imgur.com/TO3RC7R.png);
}

.container {
    width: 16.667%;
    height: 16.667%;
    position: absolute;
    border: rgba(255, 255, 255, 0) solid 13px;
    box-sizing: border-box;
    cursor: pointer;
    transition: top 0.3s, left 0.3s;
    transition-timing-function: ease-in-out;
}

.hide {
    display: none;  
}

.image {
    width: 100%;
    height: 100%;
    border: rgba(255, 255, 255, 0) solid 13px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.widget {
    display: flex;
    flex-direction: column;
    line-height: 1;
    align-items: center;
}

.widget_row {
    display: flex;
    line-height: 1;
    align-items: center;
}