.container {
    width: 16.667%;
    height: 16.667%;
    position: absolute;
    border: rgba(255, 255, 255, 0) solid 1vh;
    box-sizing: border-box;
    
    transition: top 0.3s, left 0.3s;
    transition-timing-function: ease-in-out;
}

.image {
    width: 100%;
    height: 100%;
    border: rgba(255, 255, 255, 0) solid 1vh;
    /* box-sizing: border-box; */
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-position: center;
    position: relative;
}


.moveContainer {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.arrow {
    opacity: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 8.5vh;
}

.arrow:hover {
    animation-name: changearrow;
    animation-duration: .6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes changearrow {
    from {
      opacity: 0; 
    }
  
    to {
        opacity: 0.4;
    }
}

/* .solved_message {
    font-size: 8vh;
}

.solved_message_wrapper {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.719);
    padding: 8vh;
} */