.full_width {
    width: 60%;
    /* height: 100%; */
}

.view_height_flex {
    display: flex;
    height: 100vh;
}

/* .page_container {
    display: flex;
    height: 100vh;
} */

.page_content_container {
    width: 60%;
    color: white;
}

.nav_content_container {
    width: 40%;
}

.background {
    background-image: url("https://i.imgur.com/imgYnOL.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}