.full_width {
    width: 100%;
}

.view_height_flex {
    display: flex;
    height: 100vh;
}

/* .page_container {
    display: flex;
    height: 100vh;
} */

.page_content_container {
    width: 70%;
    color: white;
}

.nav_content_container {
    width: 30%;
}

.background {
    /* background-color: #1e1e1e; */
    background-image: url("https://i.imgur.com/imgYnOL.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}