.modal_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(54, 29, 29, 0.938);
    margin: 0 5vh;
    padding: 5vh;
    border-radius: 1.5vh;
}

.modal_wrapper h1 {
    font-size: 6vh;
    line-height: 6vh;
    color: #dadd23;
}

.modal_wrapper p {
    font-size: 3.5vh;
    font-weight: 300;
    line-height: 3.5vh;
}

.modal_wrapper p span {
    padding: 3vh;
}

.modal_wrapper .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal_wrapper .buttons button {
    width: 100%;
    border: solid lightgrey 0.35vh;
    background-color: transparent;
    border-radius: 0.7vh;
    color: white;
    font-size: 4.2vh;
    line-height: 4.2vh;
    height: 6.2vh;
    cursor: pointer;
    margin-top: 2.6vh;
}

.modal_wrapper button:hover{
    border-color: #e3e516;
}