/* .background_image {
    background-image: url(https://i.imgur.com/imgYnOL.jpg);
} */

.packs_container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    height: 100vh;
}

.puzzle_pack_button, .puzzle_pack_tab {
    font-size: 3vh;
    padding: 0 2.5vh;
    background-color: #acacac;
}

.puzzle_pack_buttons_container {
    width: 93%;
    margin-top: 2.5vh;
    display: flex;
    justify-content: space-between;
}

.puzzle_pack_tab {
    margin-right: 1vh;
    color: black;
}

.puzzle_pack_tab:last-child {
    margin-right: 0vh;
}

.active_tab, .puzzle_pack_tab:hover {
    background-color: #efefef;
}

.pack_rows_container {
    overflow-y: auto;
    width: 93%;
    background-color: #8888881e;
    background-size: cover;
    background-position: center;
    margin-bottom: 2.5vh;
    border-bottom-left-radius: 4vh;
    /* background-image: url(https://i.imgur.com/ibLPvQP.jpg); */
    /* background:linear-gradient(0deg, #1b1b1ba6, #1b1b1ba6), url(https://i.imgur.com/ibLPvQP.jpg); */
}
    
.pack_row_container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 3vh 0;
    padding: 3.2vh 0;
    width: 100%;
    text-decoration: none;
}

.pack_column_container {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0 5vh;
}

.pack_column_container div {
    text-shadow: rgb(31, 31, 31) 0.3vh 0.3vh 0.3vh;
    line-height: 4.1vh;
}

.pack_data_label_large {
    font-size: 3.7vh;
    color: #f3cb2b;
}

.pack_data_label_small {
    color: whitesmoke;
    font-size: 3.0vh;
}

.icon_row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* align-items: center; */
}

.pack_icon, .pack_icon a {
    font-size: 3vh;
    cursor: pointer;
    color: whitesmoke;
}

.pack_icon:hover, .pack_icon a:hover {
    color: rgb(184, 184, 184);
}

.shared_true {
    color: #00ff7f;
    transform: rotate(360deg);
    transition-property: color, transform;
    transition-duration: 0.3s;
}

.shared_false {
    color: whitesmoke;
    transform: rotate(0deg);
    transition-property: color, transform;
    transition-duration: 0.3s;
}

.shared_false:hover {
    color: rgb(184, 184, 184);
}

.pack_header {
    background-color: #ececd625;
    /* background-size: cover;
    background-position: center;
    background-image: url(https://i.imgur.com/ibLPvQP.jpg); */

    width: 93%;
    /* margin-top: 2.5vh; */
    display: flex;
    justify-content: space-between;
}