* {
    /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif; */
    text-decoration: none;
}

.hide {
    display: none;
}

body {
    background-image: none;
}

main {
    padding: 30px;
    background-color: white;
}

.modal_wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(133, 133, 133, 0.5);
    z-index: 9;
    top: -1px;
    right: -316px;
}


h1 {
    display: block;
    line-height: 0;
    margin: 0;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 20px;
    color: rgb(51 51 51);
    font-weight: normal;
}

h2 {
    font-size: 15px;
    color: rgb(51 51 51);
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.packs_title_bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 40px;
}

table {
    margin-top: 13px;
    border-top: 2px #c7c79e solid;
    width: 100%;
    border-collapse: collapse;
    border-left: rgb(212, 212, 212) solid 1px;
    border-right: rgb(212, 212, 212) solid 1px;
}

th {
    background-image: url('https://i.imgur.com/agZA72Z.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #c9c993;;
    color: white;
    height: 37px;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
}

th, td {
    text-align: left;
}

th {
    padding: 0 40px;
}

td {
    padding: 40px;
}

tr:nth-child(odd) {background-color: #ececd642;}

.pack_title {
    cursor: pointer;
    width: 15%;
}

.pack_title_two {
    cursor: pointer;
    width: 15%;
    padding: 40px;
    text-decoration: none;
}

.pack_title_two_td {
    padding: 0;
    width: 15%;
    text-decoration: none;
}

.pack_title_two_td a {
    
    color: black;
}

.pack_title_two_td a:hover {
    color: rgb(128, 0, 0);
}

.pack_progress {
    width: 15%;
}

.pack_study_button a {
    font-size: 40px;
    text-decoration: none !important;
    color: rgb(128, 0, 0);
}

.pack_study_button a:hover {
    color: rgb(202, 2, 2);
}

.edit_pack_icon {
    cursor: pointer;
}

.edit_pack_icon:hover {
    color: rgb(202, 2, 2);
}