.packs_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.puzzle_pack_button, .puzzle_pack_tab {
    font-size: 3vh;
    padding: 0 2.5vh;
    background-color: #acacac;
}

.puzzle_pack_buttons_container {
    width: 90%;
    margin-top: 2.5vh;
    display: flex;
    justify-content: space-between;
}


.puzzle_pack_tab {
    margin-right: 1vh;
}

.active_tab {
    background-color: #efefef;
}

.pack_rows_container {
    overflow-y: auto;
    width: 90%;
    background-color: #ececd625;
    background-size: cover;
    background-position: center;
    margin-bottom: 2.5vh;
    background:linear-gradient(0deg, #1b1b1be5, #1b1b1be5), url(https://i.imgur.com/ZdG23KL.png);
}

.pack_row_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
    padding: 30px 0;
    width: 100%;
    text-decoration: none;
}

.pack_column_container {
    display: flex;
    flex-direction: column;
}

.pack_column_container div {
    text-shadow: black 2px 2px 1px;
    line-height: 1.1;
}

.pack_data_label_large {
    font-size: 35px;
    color: #f3cb2b;
}

.pack_data_label_small {
    color: whitesmoke;
    font-size: 28px;
}

.icon_row {
    display: flex;
}

.pack_icon {
    padding: 0 15px;
    width: 100%;
    font-size: 3vh;
    cursor: pointer;
    color: whitesmoke;
}

.pack_icon:hover {
    color: rgb(184, 184, 184);
}

.pack_icon_hover:hover {
    color: rgb(184, 184, 184);
}
.pack_icon:hover {
    color: rgb(184, 184, 184);
}

.shared_true {
    color: #00ff7f;
    transform: rotate(360deg);
    transition-property: color, transform;
    transition-duration: 0.3s;
}

.shared_false {
    color: whitesmoke;
    transform: rotate(0deg);
    transition-property: color, transform;
    transition-duration: 0.3s;
}

.shared_false:hover {
    color: rgb(184, 184, 184);
}